.imgContainer {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 7vh; /* Match your header height */
}

.heroImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 15% center;
}