.contactForm {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.contactForm span {
    display: flex;
    flex-direction: column;
    gap: 2rem; 
}

.contactForm input, .contactForm textarea  {
    width: 80%; 
}

.contactForm button {
    width: 82.5%;
    align-self: center;
}

.inputWrapper, .textAreaWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper label, .textAreaWrapper label {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.contactForm textarea {
    width: 80%;
    height: 15vh;
    padding: 1vh 1vw;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    max-height: 200px;
}


@media (min-width: 769px) {
    .contactForm {
        align-items: center;
        display: grid;
        grid-template-columns:auto auto;
    }

    .contactForm span {
        flex-direction: row;
        grid-column: 1/3;
        width: 100%;
    }
    
    .contactForm button {
        width: 70%;
    }

    .contactForm textarea, .contactForm span {
        width: 70%;
    }

    .inputWrapper {
        width: 90%; 
    }

    .contactForm input {
        width: 100%;
        text-align: center;
    }

    .textAreaWrapper {
        width: 100%;
        grid-column: 1/3;
        text-align: center;
    }

    .textAreaWrapper .activeErr {
        text-align: center;
    }
}