.mobileHeader {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
}

.mobileNav button {
    background-color: white;
    color: black;
}

.mobileNav button:focus {
    outline: none;
    border: none;
}