.galleryWrapper {
    background-color: #1a1a2e;
    padding: 1vh 0.5vw;
}

.bentoGrid {
    column-count: 2;
    column-gap: 1vw
}

@media (min-width: 769px) {
    .bentoGrid {
        column-count: 3;
        padding: 7vh 0vw 5vh 0vw;
        column-gap: 0.5vw;
    }

    .bentoGrid img:hover{
        cursor: pointer;
    }
}